.high-scores-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.high-score:hover {
  transition-duration: 200ms;
  transform: scale(1.25);
}